{% extends 'base.html.twig' %}

{% block title %}
    {% if id==(0) %}Créer {% else %}Modifier{% endif%} Sortie
{% endblock %}

{% block body %}

    <h2> {% if id==(0) %}Créer {% else %}Modifier{% endif%} une sortie</h2>
    {{ form_start(sortieForm) }}
    {#  {{ form_widget(sortieForm) }}#}
        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.nbInscriptionsMax) }}
        {{ form_row(sortieForm.infosSortie) }}
        {{ form_row(sortieForm.siteOrganisateur) }}
        {{ form_row(sortieForm.lieuSortie) }}
        {{ form_row(sortieForm.enregistrer) }}
        {{ form_row(sortieForm.publier) }}

    {{ form_end(sortieForm) }}




{% endblock %}