{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div id="formLogin" class="d-flex justify-content-center align-items-center">
        <form method="post" class="col-3">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>

            {% else %}
                <div class="d-flex py-2">
                    <label for="inputMailOrPseudo" class="col-5">Identifiant :</label>
                    <input type="text" value="{{ last_username }}" name="mail_or_pseudo" id="inputMailOrPseudo" class="form-control col-7" autocomplete="email" required autofocus>
                </div>
                <div class="d-flex py-2">
                    <label for="inputPassword" class="col-5">Mot de passe :</label>
                    <input type="password" name="password" id="inputPassword" class="form-control col-7" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="d-flex justify-content-between pt-4">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Connexion
                    </button>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>
                </div>


            {% endif %}
        </form>
    </div>
{% endblock %}
