{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>Sortir.com</h1>
    <p>ici on doit afficher le tableau des sorties devra afficher l'état en cours /ouvert/ fermé/ En création</p><br>
    <p>avec les champs suivant "Nom de la sortie/Date de la sortie/Clôture/inscrits.places/Etat/Inscrit/Organisateur/Actions</p>
    <h2>Date du jour : {{ 'now' | date('d/m/Y') }}</h2>
    <h2>Participant : {# todo : BDD vide, à dé-commenter quand BDD avec utilisateurs {{ app.user.userIdentifier }} #}</h2>

    <h3>Filtrer les sorties</h3>
    <form action="">

        <label for="dateDebut">Entre</label> <input type="date" name="dateDebut" id="dateDebut"> <label for="dateFin">et</label> <input type="date" name="dateFin" id="dateFin">

    </form>

    <p>------------------------------------</p>
      <div>
        {{ form_start(mainForm) }}

        {{ form_widget(mainForm) }}

        <button>Rechercher</button>

        {{ form_end(mainForm) }}
    </div>

    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date("d/m/Y H:m") }}</td>
                <td>{{ sortie.dateLimiteInscription | date("d/m/Y") }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etatSortie | length }}</td>
                <td>Ma Bite</td>
                <td>{{ sortie.organisateur | length }}</td>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
        {% endfor %}
    </table>

    <button><a href="{{ path('app_sortie') }}" title="creerSortie">Créer Sortie</a></button>

{% endblock %}
