{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
        <div>
            <h3>Date du jour : {{ 'now' | date('d/m/Y') }}</h3>
            <h3>Participant : {{ app.user.getPseudo }} </h3>
        </div>

    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date("d/m/Y H:m") }}</td>
                <td>{{ sortie.dateLimiteInscription | date("d/m/Y") }}</td>
                <td>{{ sortie.participants | length }} / {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etatSortie.libelle }}</td>
                <td>{% for participant in sortie.participants %}{% if participant == app.user %} X {% endif %} {% endfor %}</td>
                <td>{{ sortie.organisateur.pseudo }}</td>
                <td>{% if sortie.etatSortie.libelle == "En création" %}
                        <a href=" {{ path('app_gestionSortie',{'id' : sortie.id }) }} " title="modifier">Modifier</a>
                        - <a href="{# {{ path('app_publier',{'id' : sortie.id }) }} #}" title="publier">Publier</a>
                    {% else %}
                        <a href="{{ path('app_afficher',{'id' : sortie.id }) }}" title="afficher">Afficher</a>
                    {% endif %}

                    {% for participant in sortie.participants %}
                        {% if participant == app.user %}
                             - <a href="{# {{ path('app_desister',{'id' : sortie.id }) }} #}" title="desister">Se désister</a>
                        {% else %}
                             {% if sortie.etatSortie.libelle == "Ouverte" and ((sortie.participants | length ) < sortie.nbInscriptionsMax) and sortie.organisateur != app.user %}
                                 - <a href="{# {{ path('app_inscrire',{'id' : sortie.id }) }} #}" title="inscrire">S'inscrire</a>
                             {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if sortie.etatSortie.libelle == "Ouverte" and sortie.organisateur == app.user %}
                        - <a href="{# {{ path('app_annuler',{'id' : sortie.id }) }} #}" title="annuler">Annuler</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ path('app_gestionSortie',{'id' : 0 }) }}" title="creerSortie"><button>Créer Sortie</button></a>

{% endblock %}
