{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
        <div class="d-flex align-items-end flex-column me-5">
            <h3 class="info-user p-2">Date du jour : {{ 'now' | date('d/m/Y') }}</h3>
            <h3 class="info-user p-2">Participant : {{ app.user.getPseudo }} </h3>
        </div>
    <div class="col-12">
    <h4 class="d-flex align-items-start flex-column ms-5">Filtrer les sorties</h4>

      <div class="d-flex justify-content-start col-12 ps-5">
        {{ form_start(mainForm, {'attr':{'class':'col-12 d-flex flex-wrap justify-content-start pt-2'}}) }}
          {# {{ form_widget(mainForm) }} #}
          <div class="d-flex justify-content-between flex-column py-2 px-2 col-3">
              {{ form_row(mainForm.campus) }}
              {{ form_row(mainForm.search) }}
              <div class="d-flex justify-content-between">
                  {{ form_row(mainForm.dateDebut) }}
                  {{ form_row(mainForm.dateFin) }}
              </div>
          </div>
          <div class="d-flex justify-content-between flex-column py-2 px-2 col-3 offset-1">
              <div>
                  {{ form_widget(mainForm.estOrganisateur) }}
                  {{ form_label(mainForm.estOrganisateur) }}
                  {{ form_errors(mainForm.estOrganisateur) }}
              </div>
              <div>
                  {{ form_widget(mainForm.estInscrit) }}
                  {{ form_label(mainForm.estInscrit) }}
                  {{ form_errors(mainForm.estInscrit) }}
              </div>
              <div>
                  {{ form_widget(mainForm.pasInscrit) }}
                  {{ form_label(mainForm.pasInscrit) }}
                  {{ form_errors(mainForm.pasInscrit) }}
              </div>
              <div>
                  {{ form_widget(mainForm.estPasse) }}
                  {{ form_label(mainForm.estPasse) }}
                  {{ form_errors(mainForm.estPasse) }}
              </div>
          </div>

          <div class="d-flex justify-content-between flex-column pb-5 px-2 col-3">
            <button class="btn btn-secondary btn-lg col-8 h-100">Rechercher</button>
          </div>
        {{ form_end(mainForm) }}
      </div>
    </div>

    <div class="d-flex justify-content-center py-5 px-5 col-12">
    <table class="col-12">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="tabDefil" class="overflow-auto">
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td class="text-center">{{ sortie.dateHeureDebut | date("d/m/Y H:m") }}</td>
                <td class="text-center">{{ sortie.dateLimiteInscription | date("d/m/Y") }}</td>
                <td class="text-center">{{ sortie.participants | length }} / {{ sortie.nbInscriptionsMax}}</td>
                <td class="text-center">{{ sortie.etatSortie.libelle }}</td>
                <td class="text-center">{% for participant in sortie.participants %}{% if participant == app.user %} X {% endif %} {% endfor %}</td>
                <td>{{ sortie.organisateur.pseudo }}</td>
                <td>{% if sortie.etatSortie.libelle == "En création" %}
                        <a href=" {{ path('app_gestionSortie',{'id' : sortie.id }) }} " title="modifier">Modifier</a>
                        - <a href=" {{ path('app_publier',{'id' : sortie.id }) }}" title="publier">Publier</a>
                    {% else %}
                        <a href="{{ path('app_afficher',{'id' : sortie.id }) }}" title="afficher">Afficher</a>
                    {% endif %}

                    {% set inscrit = false %}

                    {% for participant in sortie.participants %}
                        {% if participant == app.user %}
                            {% set inscrit = true %}
                        {% endif %}
                    {% endfor %}

                    {% if inscrit == true %}
                        - <a href=" {{ path('app_desister',{'id' : sortie.id }) }}" title="desister">Se désister</a>
                    {% else %}
                        {% if sortie.etatSortie.libelle == "Ouverte" and (sortie.participants |length) < (sortie.nbInscriptionsMax) and sortie.organisateur != app.user %}
                            - <a href="{{ path('app_inscrire',{'id' : sortie.id }) }}" title="inscrire">S'inscrire</a>
                        {% endif %}
                    {% endif %}

                    {% if sortie.etatSortie.libelle == "Ouverte" and sortie.organisateur == app.user %}
                        - <a href="{{ path('app_annuler',{'id' : sortie.id }) }}" title="annuler">Annuler</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a href="{{ path('app_gestionSortie',{'id' : 0 }) }}" title="creerSortie"><button class="btn btn-primary btn-lg col-2 py-3 ms-5">Créer Sortie</button></a>


{% endblock %}
