{% extends 'base.html.twig' %}

{% block title %}
    Inscrire à une sortie
{% endblock %}

{% block body %}
    <div id="affichage" class="d-flex justify-content-center flex-wrap">
        <h2 class="col-10 text-center pt-2 pb-5">Afficher une sortie</h2>
        <div class="d-flex col-4 flex-wrap">
            <p class="col-6">Nom de la sortie :</p><span class="col-6">{{ sortie.nom }}</span>
            <p class="col-6">Date et heure de la sortie :</p><span class="col-6">{{ sortie.dateHeureDebut|date("d/m/Y à H:i") }}</span>
            <p class="col-6">Date limite d'inscription :</p><span class="col-6">{{ sortie.dateLimiteInscription|date("d/m/Y") }}</span>
            <p class="col-6">Nombre de places :</p><span class="col-6">{{ sortie.nbInscriptionsMax - (sortie.participants|length) }} / {{ sortie.nbInscriptionsMax }}</span>
            <p class="col-6">Durée :</p><p class="col-6"><span>{{ sortie.duree }}</span> minutes<p>
            <p class="col-6">Description et infos :</p><span class="col-6">{{ sortie.infosSortie }}</span>
        </div>
        <div class="d-flex col-4 flex-wrap">
            <p class="col-6">Campus :</p><span class="col-6">{{ sortie.siteOrganisateur }}</span>
            <p class="col-6">Lieu :</p><span class="col-6">{{ sortie.lieuSortie }}</span>
            <p class="col-6">Rue :</p><span class="col-6">{{ sortie.lieuSortie.ville.nom }}</span>
            <p class="col-6">Code postal :</p><span class="col-6">{{ sortie.lieuSortie.ville.codePostal }}</span>
            <p class="col-6">Latitude :</p><span class="col-6">{{ sortie.lieuSortie.latitude }}</span>
            <p class="col-6">Longitude :</p><span class="col-6">{{ sortie.lieuSortie.longitude }}</span>
        </div>
    </div>
    <div class="ms-5 col-4 mt-3">
        <h3>Liste des participants inscrits</h3>
        <table class="col-12">
            <tr>
                <th class="col-3">Pseudo</th>
                <th class="col-9">Nom</th>
            </tr>
            {% for participant in sortie.participants %}
            <tr>
                <td>{{ participant.pseudo }}</td>
                <td>{{ participant.prenom }} {{ participant.nom | upper}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}